{% extends "bootstrap/base.html" %}
{% macro printbook(title, author, isbn13) %}
<ul>{{ title }} - {{ author }} - {{ isbn13 }}</ul>
{% endmacro %}
{% block title %}Wikipedia to Book{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wikipedia to Book</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class='container'>
    <div class ='page-header'>
	<h1>Wikipedia to Book</h1><br>
        {% block page_content %}
		{% if result|length == 0 %}
		<h4>{{ msg }}</h4>
		{% else %}
		<h4>
		{% for book in result %}
		{{ printbook(book[0], book[1], book[2]) }}
		{% endfor %}
		</h4>
		{% endif %}
		{% endblock %}
    </div>
</div>
{% endblock %}
