{% extends "bootstrap/base.html" %}
{% block title %}Wikipedia to Books{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
<div class = 'container'>
    <div class = 'navbar-header'>
        <!--<button type='button' class='navbar-toggle'
        data-toggle = 'collapse' data-target = '.navbar-collapse'>
            <span class='sr-only'>Toggle Navigation</span>
            <span class="icon-bar"</span>
            <span class="icon-bar"</span>
            <span class="icon-bar"</span>            
            </button>-->
        <a class='navbar-brand' href='#'>Home</a>
    </div>
    <!--<div class='navbar-collapse collapse'>
        <ul class='nav navbar-nav'>
            <li><a href='#'>Help</a></li>
        </ul>
    </div>-->
</div>
</div>
{% endblock %}

{% block content %}
<div class='container'>
    <div class ='page-header'>
	<h1>Wikipedia to Book</h1><br>
        {% block page_content %}
		{% if result|length == 0 %}
		<h4>Append the title of a Wikipedia article to this URL (form coming soon).<br>
		Need a good example? Not all articles are created equal. Try <a href="/Potato">Potato</a>.</h4>
		{% else %}
		<h4>{{ result }}</h4>
		{% endif %}
		{% endblock %}
    </div>
</div>
{% endblock %}
